Funcionamiento_Turtle.txt
Reglas_Estructura.txt
cargarFichero.py
Modelo_datos.txt
app/data/quitar_espacios.py
instance/ahorcado.sqlite
backend/add_user.py
*.env
**__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.spec